/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #7366d6;
}

.btn-primary {
    color: black;
    background-color: rgb(45 127 255 / 64%);
    border-color: #1861ac;
    min-width: 120px;
    transition: 0.6s;
}

::-webkit-file-upload-button {
    background: #f1f1f1;
    color: black;
    padding: 0.5em;
}

.btn-addition {
    color: black;
    background-color: rgb(232 179 52 / 49%);
    border-color: #1861ac;
    font-size: small;
    transition: 0.6s;
}

.btn-danger {
    min-width: 120px;
}

.table td {
    min-width: 100px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.row {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.table th {
    min-width: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.form-group {
    min-width: 300px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.6s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #1861ac;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}